body {
  font-family: "Dosis", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(1fr, auto);
  gap: 1rem;
  margin-right: 0;
}

.cart {
  border: 4px solid red;
  padding: 1rem;
  margin-top: 50px;
  color: #fff;
  width: 20px;
  font-size: 20px;
  height: 20px;
  margin-right: 50px;
  background-color: #000;
}

.nav {
  position: fixed;
  width: 100vw;
  height: 150px;
  background-color: dodgerblue;
  display: flex;
  justify-content: flex-end;
}

.company {
  /* border: 1px solid red; */
  margin-right: 37em;
  margin-top: 35px;
}

.image-holder-1 {
  text-align: center;
  margin-top: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.image-holder-1 img {
  width: 300px;
  height: 300px;
}

#img-1:hover {
  transform: scale(1.05);
}

.image-info {
  text-align: center;
}

.image-info h2 {
}

.image-info h3 {
}

.image-info p {
}

.image-info button {
  border: 0;
  outline: 0;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.image-info button:first-of-type {
  margin-right: 15px;
  background-color: dodgerblue;
}

.image-info button:first-of-type:hover {
  color: dodgerblue;
  background-color: white;
}

.image-info button:last-of-type {
  background-color: chocolate;
}

button:active {
    transform: translateY(3px);
}
  